<div class="container">

  <div class="row margin-bot-10">
    <div class="col-xs-10">
      <div class="centered-image-narrow cointraffic-link">
        <span id="ct_c1CjxE">
          <div style="width:728px; height:90px; position: relative;">
            <div style="display: none;" class="ct_c1CjxElg">
              <img src="//files.cointraffic.io/images/ct_icon.png" class="ct_c1CjxEimg" border="0">
              <div class="ct_c1CjxEtx">
                <a href="https://cointraffic.io" target="_blank" class="ct_c1CjxElnk">Ads by Cointraffic</a>
              </div>
            </div>
            <!-- <a rel="nofollow" href="//apps3.cointraffic.io/clk?key=c1CjxE&amp;bid=14495" target="blank">
              <div style="position: absolute; height: 100%; width: 100%; z-index: 1;"></div>
              <iframe src="//files.cointraffic.io/pub/5618/d87e3a1561/index.html" scrolling="no" style="margin: 0 !important; padding: 0 !important;"
                width="728" height="90" frameborder="0"></iframe>
            </a> -->
          </div>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <div class="text-center">
        <img src="assets/images/zec.png">
      </div>
      <div class="text-center" style="margin-top: -20px">
        <h1>Zcash
          <br>(ZEC)</h1>
      </div>
    </div>
    <form action="/coins/166-zec-equihash" accept-charset="UTF-8" method="get">
      <input name="utf8" value="✓" type="hidden">
      <div class="col-xs-2">
        <label for="hr">Hash rate</label>
        <div class="input-group">
          <input name="hr" id="hr" value="870.0" class="form-control input-sm" type="text">
          <div class="input-group-addon">
            h/s
          </div>
        </div>
        <label for="br">Block reward</label>
        <div class="ck-button-inputs pull-right">
          <label>
            <input name="br_enabled" id="br_enabled" value="true" class="disabled-inputs" data-input-type="br" type="checkbox" hidden="hidden">
            <span class="label">Enable</span>
          </label>
        </div>
        <div class="input-group">
          <input name="br" id="br" value="10.0" class="form-control input-sm" disabled="" type="text">
          <div class="input-group-addon">
            ZEC
          </div>
        </div>
        <label for="d">Difficulty</label>
        <div class="ck-button-inputs pull-right">
          <label>
            <input name="d_enabled" id="d_enabled" value="true" class="disabled-inputs" data-input-type="d" type="checkbox" hidden="hidden">
            <span class="label">Enable</span>
          </label>
        </div>
        <div class="input">
          <input name="d" id="d" value="8594756.376" class="form-control input-sm" disabled="" type="text">
        </div>
      </div>
      <div class="col-xs-2">
        <label for="p">Power</label>
        <div class="input-group">
          <input name="p" id="p" value="360.0" class="form-control input-sm" type="text">
          <div class="input-group-addon">W</div>
        </div>
        <label for="fee">Pool fee</label>
        <div class="input-group">
          <input name="fee" id="fee" value="0.0" class="form-control input-sm" type="text">
          <div class="input-group-addon">%</div>
        </div>
        <label for="er">Exchange rate</label>
        <div class="ck-button-inputs pull-right">
          <label>
            <input name="er_enabled" id="er_enabled" value="true" class="disabled-inputs" data-input-type="er" type="checkbox" hidden="hidden">
            <span class="label">Enable</span>
          </label>
        </div>
        <div class="input-group">
          <input name="er" id="er" value="0.03024000" class="form-control input-sm" disabled="" type="text">
          <div class="input-group-addon">
            BTC
          </div>
        </div>
      </div>
      <div class="col-xs-2">
        <label for="cost">Cost</label>
        <div class="input-group">
          <input name="cost" id="cost" value="0.1" class="form-control input-sm" type="text">
          <div class="input-group-addon">$/kWh</div>
        </div>
        <label for="hcost">Hardware cost</label>
        <div class="input-group">
          <input name="hcost" id="hcost" value="0.0" class="form-control input-sm" type="text">
          <div class="input-group-addon">$</div>
        </div>
        <label for="btc">BTC value</label>
        <div class="ck-button-inputs pull-right">
          <label>
            <input name="btc_enabled" id="btc_enabled" value="true" class="disabled-inputs" data-input-type="btc" type="checkbox" hidden="hidden">
            <span class="label">Enable</span>
          </label>
        </div>
        <div class="input-group">
          <input name="btc" id="btc" value="7677.6" class="form-control input-sm" disabled="" type="text">
          <div class="input-group-addon">$</div>
        </div>
      </div>
      <div class="col-xs-2">
        <div class="centered-image-v">
          <div id="bsa-zone_1521482372256-4_123456"></div>
        </div>
      </div>
      <div class="col-xs-6 col-xs-offset-4 margin-bot-10">
        <div class="row">
          <div class="col-xs-6">
            <a href="166-zec-equihash" class="btn btn-info btn-block">
              Reset
            </a>
          </div>
          <div class="col-xs-6">
            <input name="commit" value="Calculate" class="btn btn-primary btn-block" data-disable-with="Calculate" type="submit">
          </div>
        </div>
      </div>
      <div class="col-xs-10 text-center">
        <h4>
          Please note that calculations are based on mean values, therefore your final results may vary.
        </h4>
      </div>
    </form>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-2">
      <p>
        <strong>Algorithm:</strong>
      </p>
      <p>
        <strong>Block time:</strong>
      </p>
      <p>
        <strong>Last block:</strong>
      </p>
      <p>
        <strong>Bl. reward:</strong>
      </p>
      <p>
        <strong>Bl. reward 24h:</strong>
      </p>
      <p>
        <strong>Website:</strong>
      </p>
      <p>
        <strong>Difficulty:</strong>
      </p>
      <p>
        <strong>Difficulty 24h:</strong>
      </p>
      <p>
        <strong>Difficulty 3 days:</strong>
      </p>
      <p>
        <strong>Difficulty 7 days:</strong>
      </p>
      <p>
        <strong>Nethash:</strong>
      </p>
    </div>
    <div class="col-xs-3" style="text-align: right">
      <p>
        Equihash
      </p>
      <p>
        2m 31s
      </p>
      <p>
        336,934
      </p>
      <p>
        10.00
      </p>
      <p>
        10.00
      </p>
      <p>
        <a target="_blank" href="https://z.cash/">https://z.cash/</a>
      </p>
      <p>
        8,363,014.277
      </p>
      <p>
        8,594,756.376
      </p>
      <p>
        8,723,244.119
      </p>
      <p>
        8,691,467.963
      </p>
      <p>
        453.71 Mh/s
      </p>
    </div>
    <div class="col-xs-2">
      <p>
        <strong>Status:</strong>
      </p>
      <p>
        <strong>Ex. rate:</strong>
      </p>
      <p>
        <strong>Ex. rate 24h:</strong>
      </p>
      <p>
        <strong>Ex. rate 3 days:</strong>
      </p>
      <p>
        <strong>Ex. rate 7 days:</strong>
      </p>
      <p>
        <strong>Ex. volume 24h:</strong>
      </p>
      <p>
        <strong>Market cap:</strong>
      </p>
      <p>
        <strong>Create 1 BTC in:</strong>
      </p>
      <p>
        <strong>Break even in:</strong>
      </p>
    </div>
    <div class="col-xs-3" style="text-align: right">
      <p>
        <span class="alert-success">Active</span>
      </p>
      <p>
        <a target="_blank" href="https://hitbtc.com/exchange/ZEC-to-BTC">0.03024000 (HitBTC)</a>
      </p>
      <p>
        <a target="_blank" href="https://hitbtc.com/exchange/ZEC-to-BTC">0.03065934 (HitBTC)</a>
      </p>
      <p>
        <a target="_blank" href="https://hitbtc.com/exchange/ZEC-to-BTC">0.03092502 (HitBTC)</a>
      </p>
      <p>
        <a target="_blank" href="https://hitbtc.com/exchange/ZEC-to-BTC">0.03173969 (HitBTC)</a>
      </p>
      <p>
        788.88 BTC
      </p>
      <p>
        $948,787,079
      </p>
      <p>
        3,097.49 Days
      </p>
      <p>
        0.00 Days
      </p>
    </div>
  </div>

  
  

</div>
