

<div class="row">
                                            
  <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <input name="username" type="text" required class="form-control" placeholder="Name">
    </div>
    </div>
    
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <input name="email" type="text" class="form-control" required placeholder="Email">
    </div>
    </div>
    
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <input name="phone" type="text" class="form-control" required placeholder="Phone">
    </div>
    </div>
    
    <div class="col-md-6 col-sm-6">
      <div class="form-group">
        <input name="subject" type="text" class="form-control" required placeholder="Subject">
    </div>
    </div>
    
    <div class="col-md-12">
      <div class="form-group">
        <textarea name="message" class="form-control" rows="4" placeholder="Message"></textarea>
    </div>
    </div>
    
   <div class="col-md-12">
       <button type="submit" class="site-button skew-icon-btn btn-block">
      <span class="font-18 inline-block text-uppercase p-lr15">Submit Now</span> 
    </button>
    </div>
    
</div>

<div class="section-full text-center p-tb50">
  <div class="container">
      
      <div class="section-content">
          <div class="p-b30">
              <h3>Wishlist</h3>
              <div class="wt-separator-outer">
              <div class="wt-separator bg-primary"></div>
          </div>
          </div>
          <div id="no-more-tables">
              <table class="table-bordered  table-condensed cf wt-responsive-table shopping-table">
                  <thead class="cf text-center bg-primary">
                      <tr>
                          <th>IMAGE</th>
                          <th>PRODUCT NAME</th>
                          <th class="numeric">UNIT PRICE</th>
                          <th class="numeric">STOCK STATUS</th>
                          <th class="numeric">TOTAL</th>
                          <th class="numeric">REMOVE</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td data-title="Code"><img src="images/cart/thumb/pic-2.jpg" alt=""></td>
                          <td data-title="Company">Prduct Item 1</td>
                          <td data-title="Price" class="numeric">$35.00</td>
                          <td data-title="Change" class="numeric">In Stock</td>
                          <td data-title="Change %" class="numeric"><button class="site-button radius-sm" type="button">Add to Cart</button></td>
                          <td data-title="Open" class="numeric"><a href="#"><i class="fa fa-times"></i></a></td>
                      </tr>
                      <tr>
                          <td data-title="Code"><img src="images/cart/thumb/pic-3.jpg" alt=""></td>
                          <td data-title="Company">Prduct Item 2</td>
                          <td data-title="Price" class="numeric">$15.00</td>
                          <td data-title="Change" class="numeric">In Stock</td>
                          <td data-title="Change %" class="numeric"><button class="site-button radius-sm" type="button">Add to Cart</button></td>
                          <td data-title="Open" class="numeric"><a href="#"><i class="fa fa-times"></i></a></td>
                      </tr>
                      <tr>
                          <td data-title="Code"><img src="images/cart/thumb/pic-4.jpg" alt=""></td>
                          <td data-title="Company">Prduct Item 13</td>
                          <td data-title="Price" class="numeric">$28.00</td>
                          <td data-title="Change" class="numeric">In Stock</td>
                          <td data-title="Change %" class="numeric"><button class="site-button radius-sm" type="button">Add to Cart</button></td>
                          <td data-title="Open" class="numeric"><a href="#"><i class="fa fa-times"></i></a></td>
                      </tr>
                  </tbody>
              </table>
          </div>
    </div>

  </div>
</div>