<div class="page-wraper">

    <!-- HEADER START -->
    <header class="site-header header-style-6">

        <div class="top-bar bg-primary">
            <div class="container">
                <div class="row">
                    <div class="clearfix">
                        <div class="wt-topbar-left">
                            <ul class="list-unstyled e-p-bx pull-left">
                                <li><i class="fa fa-envelope"></i>mail@bitinvest.com</li>
                                <li><i class="fa fa-phone"></i>(654) 321-7654</li>
                            </ul>
                        </div>

                        <div class="wt-topbar-right">
                            <div class=" language-select pull-right">
                                  <div class="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Language
                                        <span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                          <li><a href="#"><img src="assets/images/united-states.png" alt="">English</a></li>
                                          <li><a href="#"><img src="assets/images/france.png" alt="">French</a></li>
                                          <li><a href="#"><img src="assets/images/germany.png" alt="">German</a></li>
                                        </ul>
                                  </div>
                            </div>

                            <ul class="list-unstyled e-p-bx pull-right">
                                <li><a href="#" data-toggle="modal" data-target="#Login-form"><i class="fa fa-user"></i>Login</a></li>
                                <li><a href="#" data-toggle="modal" data-target="#Register-form"><i class="fa fa-sign-in"></i>Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Search Link -->

     

       
    </header>
    <!-- HEADER END -->

    <!-- CONTENT START -->
    <div class="page-content">

        <!-- SLIDER START -->
       
        <!-- SLIDER END -->

    

      


        <!-- SECTION CONTENT START -->
        <div class="section-full  p-tb80 bg-full-height bg-repeat-x graph-slide-image" style="background-image:url(assets/images/background/bg-1.jpg);">

            <div class="container">

                    <div class="row">
                        <div class="col-md-6  clearfix">
                            <div class="btcwdgt-chart" bw-theme="light">
                            <script>
                             (function(b,i,t,C,O,I,N) {
                                  window.addEventListener('load',function() {
                                  if(b.getElementById(C))return;
                                  I=b.createElement(i),N=b.getElementsByTagName(i)[0];
                                  I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
                                },false)
                              })(document,'script','https://widgets.bitcoin.com/widget.js','btcwdgt');
                            </script>
                        </div>
                        </div>
                        <div class="col-md-6">
                            <div class="wt-box graph-part-right text-white">
                                <strong class="text-uppercase title-first">cryptocurrency</strong>
                                <span class="text-uppercase text-primary display-block title-second">Start selling, buying and trading</span>
                                <p>
                                <strong>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                 type and scrambled it to make a type specimen book. the industry's standard dummy text ever since the 1500s, when an unknown printer took Dummy text of the printing and typesetting industry. Text of the printing</strong>
                                 </p>
                                <ul class="list-check-circle primary">
                                    <li>Simply dummy text of the Lorem Ipsum is printing and type setting. </li>
                                    <li>Dummy text of the printing and typesetting industry. Text of the printing</li>
                                    <li>And typesetting industry Lorem Ipsum has been. Ipsum has been the </li>
                                    <li>Industry's standard dummy since the 1500s, </li>
                                    <li>Simply dummy text of the Lorem Ipsum is printing and type setting. </li>
                                </ul>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
        <!-- SECTION CONTENT  END -->

      


        <!-- LATEST BLOG SECTION START -->
      
        <!-- LATEST BLOG SECTION END -->

        <!-- OUR CLIENT SLIDER START -->
        <div class="section-full overlay-wraper bg-cover bg-repeat-x bg-primary" style="background-image:url(assets/images/background/bg-7.png)">
            <div class="container">

                <!-- IMAGE CAROUSEL START -->
                <div class="section-content">
                    <div class="owl-carousel home-logo-carousel">

                        <!-- COLUMNS 1 -->
                        <div class="item">
                            <div class="ow-client-logo">
                                <div class="client-logo wt-img-effect on-color">
                                    <a href="#"><img src="assets/images/client-logo/w1.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 2 -->
                        <div class="item">
                            <div class="ow-client-logo">
                                <div class="client-logo wt-img-effect on-color">
                                    <a href="#"><img src="assets/images/client-logo/w2.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 3 -->
                        <div class="item">
                            <div class="ow-client-logo">
                                <div class="client-logo wt-img-effect on-color">
                                    <a href="#"><img src="assets/images/client-logo/w3.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 4 -->
                        <div class="item">
                            <div class="ow-client-logo">
                                <div class="client-logo wt-img-effect on-color">
                                    <a href="#"><img src="assets/images/client-logo/w4.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 5 -->
                        <div class="item">
                            <div class="ow-client-logo">
                                <div class="client-logo wt-img-effect on-color">
                                    <a href="#"><img src="assets/images/client-logo/w5.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 6 -->
                        <div class="item">
                            <div class="ow-client-logo">
                                <div class="client-logo wt-img-effect on-color">
                                    <a href="#"><img src="assets/images/client-logo/w6.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 7 -->
                        <div class="item">
                            <div class="ow-client-logo">
                                <div class="client-logo wt-img-effect on-color">
                                    <a href="#"><img src="assets/images/client-logo/w1.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 8 -->
                        <div class="item">
                            <div class="ow-client-logo">
                                <div class="client-logo wt-img-effect on-color">
                                    <a href="#"><img src="assets/images/client-logo/w2.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 9 -->
                        <div class="item">
                            <div class="ow-client-logo">
                                <div class="client-logo wt-img-effect on-color">
                                    <a href="#"><img src="assets/images/client-logo/w3.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 10 -->
                        <div class="item">
                            <div class="ow-client-logo">
                                <div class="client-logo wt-img-effect on-color">
                                    <a href="#"><img src="assets/images/client-logo/w4.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 11 -->
                        <div class="item">
                            <div class="ow-client-logo">
                                <div class="client-logo wt-img-effect on-color">
                                    <a href="#"><img src="assets/images/client-logo/w5.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- COLUMNS 12 -->
                        <div class="item">
                            <div class="ow-client-logo">
                                <div class="client-logo wt-img-effect on-color">
                                    <a href="#"><img src="assets/images/client-logo/w6.png" alt=""></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- IMAGE CAROUSEL START -->
            </div>

        </div>
        <!-- OUR CLIENT SLIDER END -->

    </div>
    <!-- CONTENT END -->

   
      

    <!-- BUTTON TOP START -->
    <button class="scroltop"><span class=" iconmoon-house relative" id="btn-vibrate"></span>Top</button>

    <!-- MODAL  LOGIN -->
   <app-login></app-login>

    <!-- MODAL  REGISTER -->
   <app-register></app-register>

</div>